<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light my-navbar ">
        <div class="container-fluid">
        <a class="navbar-brand fontform" href="#" routerLink= "/homeemployee" >
            <img src="https://media.discordapp.net/attachments/880202330178469899/963951468258426890/icon.png" width="35" alt="" class="d-inline-block align-middle mr-2">
            TECAir</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
                <a class="nav-link active fontform" aria-current="page" href="#" routerLink="/employeeSearchFlights">
                    <img src="https://cdn-icons-png.flaticon.com/512/655/655851.png" width="30" alt="" class="d-inline-block align-middle mr-2">
                    Buscar Vuelo
                </a>
            </li>    
            
            <li class="nav-item">
                <a class="nav-link active fontform" aria-current="page" href="#" routerLink="/employeeBooking">
                    <img src="https://cdn-icons-png.flaticon.com/512/942/942799.png" width="28" alt="" class="d-inline-block align-middle mr-2">
                    Reservaciones
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active fontform" aria-current="page" href="#" routerLink="/flights">
                    <img src="https://cdn-icons-png.flaticon.com/512/1085/1085493.png" width="30" alt="" class="d-inline-block align-middle mr-2">
                    Vuelos
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active fontform" aria-current="page" href="#" routerLink="/create-promotions">
                    <img src="https://cdn-icons-png.flaticon.com/512/3600/3600477.png" width="30" alt="" class="d-inline-block align-middle mr-2">
                    Promociones
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active fontform" aria-current="page" href="#" routerLink="/baggage">
                    <img src="https://cdn-icons-png.flaticon.com/512/1926/1926376.png" width="30" alt="" class="d-inline-block align-middle mr-2">
                    Chequeo y Maletas
                </a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
</header>
