<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="home-employee.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
   </head>
<body>
    <app-home-employee></app-home-employee>>
    <div class="container">
        <!---Se agregan iconos de redes sociales--->
        <ul class="social">
        <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>

    </div>
</body>
</html>
