<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="billing-employee.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
   </head>
<body>
      <div class="bookingzone"> 

        <h4 class="maintitle">Detalles del viaje</h4>

        <div class = "container2">
            <div class="row">
              <div class="col-sm">
                  <span class="info">Lugares:</span><span class="info" style="margin-left: 25%;">{{reservationdata[0].ciudad_origen}} - {{reservationdata[0].ciudad_destino}}</span>
                  <br>
                  <span class="info" >Hora y Fecha:</span><span class="info" style="margin-left: 15.5%;">{{reservationdata[0].fecha}} - {{reservationdata[0].h_salida}}</span>
                  <br>
                  <span class="info" >Aeropuerto de salida:</span><span class="info" >{{reservationdata[0].origen}}</span>
                  <br>
                  <span class="info" > Abordaje en puerta:</span><span class="info" style="margin-left: 4%;">{{reservationdata[0].ptr_abordaje}} </span>
                  <br>
                  <br>
              </div>
                <div class="col-sm">
                  <span class="info">Escalas:</span><span class="info" style="margin-left: 31%;">{{reservationdata[0].cant_escalas}}</span>
                  <br>
                  <span class="info" >Duracion:</span><span class="info" style="margin-left: 28%;">{{reservationdata[0].duracion}}</span>
                  <br>
                  <span class="info" >Aeropuerto de llegada:</span><span class="info" style="margin-left: 2%;">{{reservationdata[0].destino}}</span>
                  <br>
                  <span class="info" > Modelo de Avion:</span><span class="info" style="margin-left: 13.5%;">{{reservationdata[0].avion}} </span>
                </div>
            
          </div>
        </div>

        <div class="container">
          <div class="title">Informacion del Pasajero</div>
          <div class="content">
            <form>
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Nombre</span>
                  <input type="text" [(ngModel)]="newTicketPayment.p_nombre" [ngModelOptions]="{standalone: true}" placeholder="Ingrese su nombre" required>
                </div>
                <div class="input-box">
                  <span class="details">Primer Apellido</span>
                  <input type="text" [(ngModel)]="newTicketPayment.p_apellido1" [ngModelOptions]="{standalone: true}" placeholder="Ingrese su primer apellido" required>
                </div>
                <div class="input-box">
                  <span class="details">Segundo Apellido</span>
                  <input type="text" [(ngModel)]="newTicketPayment.p_apellido2" [ngModelOptions]="{standalone: true}" placeholder="Ingrese su segundo apellido" required>
                </div>
                <div class="input-box">
                  <span class="details">Cedula o pasaporte</span>
                  <input type="number" [(ngModel)]="newTicketPayment.dni" [ngModelOptions]="{standalone: true}" placeholder="Ingrese su número de cedula o pasaporte" required>
                </div>
            </div>
            </form>
          </div>
        </div>


        <div class="container">
          <div class="title">Informacion de Pago</div>
          <div class="content">
            <form>
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Nombre del titular</span>
                  <input type="text" placeholder="Ingrese el nombre del titular de la tarjeta" required>
                </div>
                <div class="input-box">
                  <span class="details">Número de tarjeta</span>
                  <input type="number" placeholder="Ingrese los digitos de la tarjeta" required>
                </div>
                <div class="input-box">
                  <span class="details">Fecha de vencimiento</span>
                  <input type="date" placeholder="Ingrese la feche de vencimiento de la tarjeta" required>
                </div>
                <div class="input-box">
                  <span class="details">Número CVC</span>
                  <input type="number" placeholder="Ingrese el CVC presente detrás de la tarjeta" required>
                </div>

                <div class="container">
                  <br>
                  <br>
                  <div class="row">
                      <div class="col-sm">
                          <button class="btn btnformat" routerLink="/employeeBooking" >Regresar</button>
                      </div>
                      <div class="col-sm">
                          <button class="btn btnformat" style= "margin-left: 22%;" (click)="addNewTicketPayment(newTicketPayment)"  routerLink="/employeeBooking" >Pagar Vuelo</button>
                      </div>
                  </div>
              </div> 
            </div>
            </form>
          </div>
        </div>
      </div>


</body>
</html>
