<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="billing-employee.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
   </head>
<body>
      <div class="bookingzone">

        <h3 class="maintitle">Detalles del viaje</h3>

        <div class = "container2">
            <h5>Aqui van los detalles del vuelo</h5>
        </div>

        <div class="container">
          <div class="title">Informacion del Pasajero</div>
          <div class="content">
            <form>
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Nombre</span>
                  <input type="text" placeholder="Ingrese su nombre" required>
                </div>
                <div class="input-box">
                  <span class="details">Primer Apellido</span>
                  <input type="text" placeholder="Ingrese su primer apellido" required>
                </div>
                <div class="input-box">
                  <span class="details">Segundo Apellido</span>
                  <input type="text" placeholder="Ingrese su segundo apellido" required>
                </div>
                <div class="input-box">
                  <span class="details">Cedula o pasaporte</span>
                  <input type="number" placeholder="Ingrese su número de cedula o pasaporte" required>
                </div>
            </div>
            </form>
          </div>
        </div>


        <div class="container">
          <div class="title">Informacion de Pago</div>
          <div class="content">
            <form>
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Nombre del titular</span>
                  <input type="text" placeholder="Ingrese el nombre del titular de la tarjeta" required>
                </div>
                <div class="input-box">
                  <span class="details">Número de tarjeta</span>
                  <input type="number" placeholder="Ingrese los digitos de la tarjeta" required>
                </div>
                <div class="input-box">
                  <span class="details">Fecha de vencimiento</span>
                  <input type="date" placeholder="Ingrese la feche de vencimiento de la tarjeta" required>
                </div>
                <div class="input-box">
                  <span class="details">Número CVC</span>
                  <input type="number" placeholder="Ingrese el CVC presente detrás de la tarjeta" required>
                </div>

                <div class="button">
                  <input type="submit" value="Pagar Vuelo"  routerLink="/employeeBooking">
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>


</body>

<ng-template #content let-modal>
  <div class="popup">
    <button class="close cbtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
</ng-template>
</html>
