.bg-ticket{
    width: 900px;
    height: 400px;
    background-image: url("https://media.discordapp.net/attachments/880202330178469899/964398547749457950/ticket.png");
    border-radius: 25px;
    margin-left: 27%;
    margin-top: 2%;
 }

h5{
   text-align: center;
} 
 
.info{
   font-size: 16px;
   font-weight: 700;
}

.info2{
   font-size: 20px;
   font-weight: 800;
   color: red;

   
}

.btnformat{
   width: 50%;
   border-radius: 25px;
   border: none;
   color: #fff;
   font-size: 18px; 
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #e7bb40, #e46c1c, #b12828);
   margin-top: 2%;
   
}

.btnformat:hover{
    background: linear-gradient(-135deg, #e7bb40, #e46c1c, #b12828);
}

.container2{
   max-width: 1200px;
   width: 100%;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 500;
   position: relative;
   margin-left: 25%;
 }

 .title{
   text-align: center;
   font-size: 22px;
   font-weight: 800;
 }

 .details{
   text-align: center;
   font-size: 18px;
   font-weight: 1000;
   
   
 }

 .content form .user-details{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 20px 0 12px 0;
 }
 form .user-details .input-box{
   margin-bottom: 15px;
   width: calc(45% - 20px);
 }
 form .input-box span.details{
   display: block;
   font-weight: 350;
   margin-bottom: 5px;
 }
 
 .user-details .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   font-size: 16px;
   border-radius: 5px;
   padding-left: 15px;
   border: 1px solid #ccc;
   border-bottom-width: 2px;
   transition: all 0.3s ease;
 }
 .user-details .input-box input:focus,
 .user-details .input-box input:valid{
   border-color: #d86625;
 }


 form input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: black ;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
 }


