<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8"> 
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="search-user.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
   </head>
<body>
    <app-unavbar></app-unavbar>
      <div class="searchbar"> 
        <div class="icons">
          <input class="myinput" [(ngModel)]="newSearch.origen" [ngModelOptions]="{standalone: true}"  placeholder="Aeropuerto de salida">

          <img class="myimage">

          <input class="myinput" [(ngModel)]="newSearch.destino" [ngModelOptions]="{standalone: true}" placeholder="Aeropuerto de llegada">
          
          <input type="date" class="myinput" [(ngModel)]="newSearch.fecha" [ngModelOptions]="{standalone: true}" placeholder="Seleccione la fecha del vuelo">
          

          <button class="btn1" (click)="createNewSearch(newSearch)" type="button" ></button>
        </div>
      </div>
      <div class="results">
        <div class="row">
          <div id="htmlData">
            <h4>Resultado de búsqueda vuelos disponibles</h4>
            <table class="table table-bordered mt-4 mytable">
              <tr class="table-primary">
                <th>Número de Vuelo</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Escalas</th>
                <th>Fecha</th> 
                <th>Hora de salida</th>
                <th>Hora de llegada</th>
                <th>Precio</th>
                <th>Reservar</th>
              </tr>
              <tr *ngFor="let data of searchdata">
                <th>{{data.no_vuelo}}</th>
                  <td>{{data.origen}}</td>
                  <td>{{data.destino}}</td>
                  <td>{{data.cant_escalas}}</td>
                  <td>{{data.fecha}}</td>
                  <td>{{data.h_salida}}</td>
                  <td>{{data.h_llegada}}</td>
                  <td>{{data.precio}}</td>
                  <td><button class = "bookingbtn" type="submit" routerLink="/userSearchFlights" (click)="open(content)" >Reservar Ahora!</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div> 


</body>

<ng-template #content let-modal>
  <div class="popup">
    <button class="close cbtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
</ng-template>

</html>