@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #c97b4e, #d66320 , #b92d2d);
  background-image: url("src\assets\images\homeuser.png");
  background-position: center center;
  background-attachment: fixed;
  background-size:cover;
  z-index: -10;

}

.carusel{
  width: 90%;
  margin-left: 5%;
  margin-top: 26%;
  
}

.card{
  height: 100%;
  width: 100%;
  background-color: white;
}

.resource{
  width: 250px;
  height: 150px;
  background-position: center;
  background-size: auto;
}

.places{
  margin-left: 2%;
  font-size: 25px;
  font-weight: 500;

}

.details{
  margin-left: 2%;
  font-size: 15px;
  font-weight: 500;
}

.prices{
  color: #d66320;
  margin-left: 55%;
  font-size: 28px;
  font-weight: 500;
}

.bookingbtn{
  height: 30%;
  width: 50%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #e7bb40, #e46c1c, #b12828);
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 23%;
}
.bookingbtn:hover{
 /* transform: scale(0.99); */
 background: linear-gradient(-135deg, #e7bb40, #e46c1c, #b12828);
 }

 .popup{
  width: 500px;
  height: 252px;
  background-image: url("src\assets\images\searchpopup.png");
  background-size:cover;
  background-position: center;
}


.cbtn{
  width: 20px;
  height: 20px;
  margin-left: 93%;
  margin-top: 2%;
  background-color: transparent;
  background-image: url("https://cdn-icons-png.flaticon.com/512/109/109602.png") ;
  background-size: cover;
  border: none;

}




