<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="baggage-check.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
   </head>

    <body>
        <div id="htmlData2" class="col-11 formapp">
            <h5>Factura de Equipaje</h5>
        
            <div class="row my-3">
              <div class="col-10">
                <h3>TEC-AIRLINES</h3>
                <p>Arpto. Los Angeles LAX</p>
                <p>Terminal 54 3er. Lvl Gate 4</p>
                <p style="color: blue;">tecairlines.com</p>
              </div>
              <div class="col-2 imgformat">
                <img src="https://media.discordapp.net/attachments/880202330178469899/954031445582684211/logo_1.png"/>
              </div>
            </div>
          
            <hr />
          
            <div class="row fact-info mt-3">
              <div class="col-3">
                <h5>Facturar a</h5>
                <p>
                  Pedro Sanchez Montero
                </p>
              </div>
              <div class="col-3">
                <h5>Domicilio</h5>
                <p>
                  Beverly Hills, #144
                  Los Angeles,CA,US.
                  psanchezm@gmail.com
                </p>
              </div>
              <div class="col-3">
                <h5>N° de factura</h5>
                <h5>Fecha</h5>
                <h5>Fecha de vencimiento</h5>
              </div>
              <div class="col-3">
                <h5>#14532</h5>
                <p>17/03/2022</p>
                <p>17/03/2022</p>
              </div>
            </div>
          
            <div class="row my-5">
              <table class="table table-borderless factura">
                <thead>
                  <tr>
                    <th>Cant.</th>
                    <th>Descripcion</th>
                    <th>Precio Unitario</th>
                    <th>Importe</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>3</td>
                    <td>Maleta Peso Regular</td>
                    <td>$40</td>
                    <td>$50</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Maleta SobrePeso</td>
                    <td>$90</td>
                    <td>$100</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Total Factura</th>
                    <th>$250</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          
            <div class="cond row">
              <div class="col-12 mt-3">
                <h4>Condiciones y formas de pago</h4>
                <p>El pago se debe realizar en un plazo de 1 hora.</p>
                <p>
                  Banco CitiBank
                  <br />
                  IBAN: DO XX 0075 XXXX XX XX XXXX XXXX
                  <br />
                  Código SWIFT: BPDODOSXXXX
                </p>
              </div>
            </div>
        </div>
        <div>
            <button class="btn col col-lg-4 btn-block ml-4 btnformat" (click)="downloadBillingReport()">Download PDF</button>
        </div>

    </body>

</html>