.btnformat{
    width: 25%;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #e7bb40, #e46c1c, #b12828);
    margin-left: 36%; 
 }
 
 .btnformat:hover{
     /* transform: scale(0.99); */
     background: linear-gradient(-135deg, #e7bb40, #e46c1c, #b12828);
 }
 
 h3{
 text-align: center;
 
 }
 .table tr:nth-child(1){
     background-color: rgb(252, 203, 112);
 }