<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="billing.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
   </head>
<body>
      <div class="bookingzone">

        <h2 class="maintitle">Detalles del viaje</h2>

        <div class = "container2">
            <h5>Aqui van los detalles del vuelo</h5>
        </div>

        <div class="container">
          <div class="title">Informacion del Pasajero</div>
          <div class="content">
            <form>
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Nombre</span>
                  <input type="text" placeholder="Ingrese su nombre" required>
                </div>
                <div class="input-box">
                  <span class="details">Primer Apellido</span>
                  <input type="text" placeholder="Ingrese su primer apellido" required>
                </div>
                <div class="input-box">
                  <span class="details">Segundo Apellido</span>
                  <input type="text" placeholder="Ingrese su segundo apellido" required>
                </div>
                <div class="input-box">
                  <span class="details">Cedula o pasaporte</span>
                  <input type="number" placeholder="Ingrese su número de cedula o pasaporte" required>
                </div>
              </div>
            </form>
          </div>
        </div>
      
      </div>


</body>
</html>
