<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="flights.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
   </head>
<body>
    <!---Navbar--->
    <app-enavbar></app-enavbar>

    <!---Contenedor principal--->

      <div class="flightszone">
 
        <!---Seccion crear vuelos--->
        <h4 class="maintitle">Crear Vuelos</h4>
        <div class="section1">
          <div class="container">
            <div class="content">
              <form>
                <div class="flight-details">
                  <div class="input-box">
                    <span class="details">Aeropuerto de salida</span>
                    <input type="text" [(ngModel)]="newFlight.origen" [formControl]="myControl" matInput [matAutocomplete]="auto" placeholder="Ingrese el origen del vuelo" required>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option class="options"  
                          *ngFor="let option of filteredOptions | async"
                          [value]="option.nombre">
                        {{option.nombre}} , {{option.pais}}       
                     </mat-option>
                    </mat-autocomplete>
                  </div>
                  <div class="input-box">
                    <span class="details"> Aeropuerto de llegada</span>
                    <input type="text" [(ngModel)]="newFlight.destino" [formControl]="myControl" matInput [matAutocomplete]="auto" placeholder="Ingrese el destino del vuelo" required>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option class="options"  
                          *ngFor="let option of filteredOptions | async"
                          [value]="option.nombre">
                        {{option.nombre}} , {{option.pais}}       
                     </mat-option>
                    </mat-autocomplete>
                  </div>
                  <div class="input-box">
                    <span class="details">Matricula del avion</span>
                    <input type="text"  [(ngModel)]="newFlight.modelo_av" [formControl]="myControlModel" matInput [matAutocomplete]="auto" placeholder="Ingrese la Matricula del Avion" required>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option class="options"  
                          *ngFor="let option of filteredOptions2 | async"
                          [value]="option.matricula">
                        {{option.av_nombre}} matricula numero {{option.matricula}}       
                     </mat-option>
                    </mat-autocomplete>
                  </div>
                  <div class="input-box">
                    <span class="details">Hora de salida</span>
                    <input type="time" [(ngModel)]="newFlight.h_salida" [ngModelOptions]="{standalone: true}" placeholder="Seleccione la hora de salida" required >
                  </div>
  
                  <div class="input-box">
                    <span class="details">Hora de llegada</span>
                    <input type="time" [(ngModel)]="newFlight.h_llegada" [ngModelOptions]="{standalone: true}"  placeholder="Seleccione la hora aproximada de llegada" required>
                  </div>

                  <div class="input-box">
                    <span class="details">Fecha del vuelo</span>
                    <input type="date" [(ngModel)]="newFlight.v_fecha" [ngModelOptions]="{standalone: true}"  placeholder="Seleccione la fecha del vuelo" required>
                  </div>

                  <div class="input-box">
                    <span class="details">Escala 1</span>
                    <input type="text" [(ngModel)]="newFlight.escala1" [formControl]="myControl" matInput [matAutocomplete]="auto" placeholder="Ingrese la esacala aqui" required>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option class="options"  
                          *ngFor="let option of filteredOptions | async"
                          [value]="option.nombre">
                        {{option.nombre}} , {{option.pais}}       
                     </mat-option>
                    </mat-autocomplete>
                  </div>
                  <div class="input-box"> 
                    <span class="details"> Escala 2</span>
                    <input type="text" [(ngModel)]="newFlight.escala2" [formControl]="myControl" matInput [matAutocomplete]="auto" placeholder="Ingrese la esacala aqui" required>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option class="options"  
                          *ngFor="let option of filteredOptions | async"
                          [value]="option.nombre">
                        {{option.nombre}} , {{option.pais}}       
                     </mat-option>
                    </mat-autocomplete>
                  </div>
                  <div class="input-box">
                    <span class="details">Escala 3</span>
                    <input type="text" [(ngModel)]="newFlight.escala3" [formControl]="myControl" matInput [matAutocomplete]="auto" placeholder="Ingrese la esacala aqui" required>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option class="options"  
                          *ngFor="let option of filteredOptions | async"
                          [value]="option.nombre">
                        {{option.nombre}} , {{option.pais}}       
                     </mat-option>
                    </mat-autocomplete>
                  </div>

                  <div class="input-box2 input-box">
                    <span class="details">Puerta de abordaje</span>
                    <input type="text" [(ngModel)]="newFlight.prt_abordaje" [ngModelOptions]="{standalone: true}" placeholder="Indique la puerta de abordaje" required>
                  </div>

                  <div class="input-box3 input-box">
                    <span class="details">Coste del tiquete</span>
                    <input type="number" [(ngModel)]="newFlight.coste_vuelo" [ngModelOptions]="{standalone: true}"  placeholder="Ingrese la tarifa del boleto" required>
                  </div>
                </div>
                <div class="button">
                  <input type="submit" value="Registrar Vuelo" routerLink="/flights" (click)="open(content); addNewFlight(newFlight)">
                </div>
              </form>
            </div>
          </div>
        </div>

        <!---Seccion Apertura y Cierre de Vuelos--->

        <div class="container">
          <div class="row">

            <!---Seccion Apertura de Vuelos--->
            <div class="col-sm">
              <h4 class="maintitle">Apertura de vuelos</h4>
              <div class="content">
                <form>
                  <div class="open-flight">
                    <div class="input-box">
                      <span class="details">Ingrese el número de transacción que desea agregar  </span>
                      <input type="text" [(ngModel)]="newOpenFlight.no_transaccion" [ngModelOptions]="{standalone: true}"  placeholder="Ingrese el número de transacción" required>
                    </div>
                    <div class="open-close-btn">
                      <input type="submit" (click)="newAddOpenFlight(newOpenFlight)"  value="Buscar Tiquete">
                    </div>
                  </div>
                </form>
              </div>

              <div class="passanger-details">
                <div class="row">
                  <div id="htmlData">
                    <table class="table table-bordered mt-4 mytable">
                      <tr class="table-primary mytable passanger-table">
                        <th>Número de Vuelo</th>
                        <th>Nombre del pasajero</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Abordara</th>
                        <th>Detalles</th>
                        
                      </tr>
                      <tr *ngFor="let data of passangerdata">
                        <th>{{data.no_vuelo}}</th>
                        <td>{{data.p_nombre}}</td>
                        <td>{{data.origen}}</td>
                        <td>{{data.destino}}</td>
                        <td>{{data.abordaje}}</td>
                        <td><button class="actionsbtn">{{btnstatus}}</button></td>
    
                      </tr>
                    </table>
                  </div>
                </div>
              </div> 


            </div>

            <!---Seccion Cierre de Vuelos--->
            <div class="col-sm">

              <h4 class="maintitle">Cierre de vuelos</h4>
              <div class="col-sm">
                
              <div class="content">
                <form>
                  <div class="close-flight">
                    <div class="input-box">
                      <span class="details">Ingrese el número de vuelo que desea cerrar </span>
                      <input type="text" [(ngModel)]="newCloseFlight.no_vuelo" [ngModelOptions]="{standalone: true}"  placeholder="Ingrese el número de vuelo" required>
                    </div>
                    <div class="open-close-btn">
                      <input type="submit" (click)="newAddCloseFlight(newCloseFlight)"  value="Buscar Vuelo">
                    </div>
                  </div>
                </form>
              </div>

              <div class="close-details">
                <div class="row">
                  <div id="htmlData">
                    <table class="table table-bordered mt-4 mytable">
                      <tr class="table-primary mytable">
                        <th>Número de Vuelo</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Hora de salida</th>
                        <th>Detalles</th>
                        
                      </tr>
                      <tr *ngFor="let data of flightdata">
                        <th>{{data.no_vuelo}}</th>
                        <td>{{data.origen}}</td>
                        <td>{{data.destino}}</td>
                        <td>{{data.h_salida}}</td>
                        <td><button class="actionsbtn" routerLink="/flightSummary">Cerrar Vuelo</button></td>
  
                      </tr>
                    </table>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<ng-template #content let-modal>
  <div class="popup">
    <button class="close cbtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
</ng-template>
</html>








